# 12 MHz clock
set_io ftdi_clk        35

# UART on PMOD header
set_io ser_rx      26
set_io ser_tx      27

# SPI Flash
set_io flash_clk  15
set_io flash_csb  16
set_io flash_io0  14
set_io flash_io1  17

# LED indicator (RGB LED blue)
set_io led_n     39